<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burger app</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/assets/js/index.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

</head>
<body>
    {{{body}}}
</body>
</html>